body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header {
  font-family: 'Overpass', sans-serif;
  font-weight: 700;
}

#small-header {
  font-family: 'Overpass', sans-serif;
  font-weight: 100;
}

.nav-font {
  font-family: 'DM Sans', sans-serif;
}

.nav-image {
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.theBrand {
  max-width: 75%;
}

  /*background-color: #284B63;*/
.color-nav {
  background: rgb(32,55,70);
  background: linear-gradient(90deg, rgba(32,55,70,1) 0%, rgba(63,95,103,1) 42%, rgba(60,110,113,1) 87%, rgba(104,125,126,1) 100%);
}

.logo {
  width: 22%;
  height: auto;
}

.navText {
  font-size: 1.5rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

#main {
  background-color: #3C6E71;
}

.main-bg {
  background: rgb(32,55,70);
  background: linear-gradient(90deg, rgba(32,55,70,1) 0%, rgba(63,95,103,1) 42%, rgba(60,110,113,1) 87%, rgba(104,125,126,1) 100%);
}

.addPadding {
  padding-top: 28vh;
  padding-bottom: 40vh;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
  top: 0;
  margin-left: 20rem;
  width: 100%;
  
}