body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.title-font{
  font-family: "";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  padding-bottom: .75rem;
}

#small-header {
  font-family: "Overpass", sans-serif;
  font-weight: 100;
}

.nav-font {
  font-family: 'DM Sans', sans-serif;
}

.nav-image {
  position: relative;
  height: 1.5rem;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.theBrand {
  max-width: 75%;
}

.homePageCards {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

/*background-color: #284B63;*/
.color-nav {
  background: rgb(32, 55, 70);
  background: linear-gradient(
    90deg,
    rgba(32, 55, 70, 1) 0%,
    rgba(63, 95, 103, 1) 42%,
    rgba(60, 110, 113, 1) 87%,
    rgba(104, 125, 126, 1) 100%
  );
}

.logo {
  width: 22%;
  height: auto;
}

.navText {
  font-size: 1.5rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

#main {
  background-color: #3c6e71;
}

/* this is for the puzzle block style */

.puzzle_block{  
  background-color: #284B63;
}

.contact_us{
  background-color: #353535;

}

.main-bg {
  background: rgb(32, 55, 70);
  background: linear-gradient(
    90deg,
    rgba(32, 55, 70, 1) 0%,
    rgba(63, 95, 103, 1) 42%,
    rgba(60, 110, 113, 1) 87%,
    rgba(104, 125, 126, 1) 100%
  );
}

.addPadding {
  padding-top: 19vh;
  padding-bottom: 30vh;
}

.addPadding1 {
  padding-top: 8vh;
  padding-bottom: 14vh;
}

.fade-in {
  opacity: 0;
  transition: opacity .25s;
  opacity: 1;
  }

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
  top: 0;
  margin-left: 20rem;
  width: 100%;
}

.reimburse{
  top: 4rem;
}

.sign-up {
  color: #275f6d;
  font-weight: bold;
}
.sign-up:hover {
  color: #98a0a2;
}

.submitButton {
  background-color: #3f5f67 !important;
  outline: none !important;  
  border: none !important;
}

.dropdown-bg {
  background-color: #3c6e71 !important;
  outline-color: none !important;  
  border: none !important;
}

.dropdown1 .dropdown-menu .dropdown-item:active {background-color: #3c6e71 !important;}

.dropdown2 .dropdown-menu .dropdown-item:active {background-color: #697d7e !important;}

.dropdown-bg-1 {
  background-color: #697d7e !important;
  outline: none !important;  
  border: none !important;
}

.btn {
  border: none;
  outline: none;
}

.light-bg {
  background-color: #D9D9D9;
  height: 105vh;
}