body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-nav {
  /*background-color: #284B63;*/
  background: rgb(40,75,99);
  background: linear-gradient(90deg, rgba(40,75,99,1) 0%, rgba(56,103,110,1) 27%, rgba(104,136,139,1) 45%, rgba(98,132,135,1) 54%, rgba(56,103,110,1) 73%, rgba(40,75,99,1) 100%);
}

.logo {
  width: 22%;
  height: auto;
}

.navText {
  font-size: 1.5rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
}

#main {
  background-color: #3C6E71;
}

.main-bg {
  background: rgb(40,75,99);
  background: linear-gradient(90deg, rgba(40,75,99,1) 0%, rgba(56,103,110,1) 27%, rgba(104,136,139,1) 45%, rgba(98,132,135,1) 54%, rgba(56,103,110,1) 73%, rgba(40,75,99,1) 100%);
}

.addPadding {
  padding-top: 10rem;
  padding-bottom: 19rem;
}